body {

}

#id_name {
  margin: auto;
  margin-left: 1rem;
}

#id_reason {
  margin: auto;
  width: 10rem;
}

#id_time_spent {
    margin: auto;
    width: 6rem  ;
}

#former {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  padding: auto;
}

span#usersname {
  text-align: right;
  color: steelblue;
  text-align: center;

}

#btn {
  width: 10rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  top: 10px;
  width: 300px;
  padding: 10px;
}

h2 {
  padding:10px;
}

label {
  margin: auto;
  font-family: Helvetica;
}
