{% extends "anton.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block content %}

{% block table_title %}Εταιρίες αναλυτικά{% endblock %}

<thead>
  <tr class="filters">
    <th scope="col"><input type="text" class="form-control" placeholder="Επωνυμία" disabled></th>
    <th scope="col"><input type="text" class="form-control" placeholder="Κατηγορία" disabled></th>
    <th scope="col"><input type="text" class="form-control" placeholder="Αιτία" disabled></th>
    <th scope="col"><input type="text" class="form-control" placeholder="Χρόνος" disabled></th>

  </tr>
</thead>
<tbody>
  {% for name, task, subtask, time_spent in df %}
  <tr>
    <td scope="row">{{ name }}</td>
    <td scope="row">{{ task }}</td>
    <td scope="row">{{ subtask }}</td>
    <td scope="row">{{ time_spent }}</td>
  </tr>
  {% endfor %}
</tbody>

{% endblock %}
