{% extends "anton.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block content %}

<thead>
  <tr class="filters">
    <th><input type="text" class="form-control" placeholder="Κατηγορία" disabled></th>
    <th><input type="text" class="form-control" placeholder="Αιτία" disabled></th>
    <th><input type="text" class="form-control" placeholder="Μέσος χρόνος" disabled></th>
    <th><input type="text" class="form-control" placeholder="Ελάχιστος χρόνος" disabled></th>
    <th><input type="text" class="form-control" placeholder="Μέγιστος χρόνος" disabled></th>

  </tr>
</thead>
<tbody>
  {% for task, subtask, avg, min, max in df %}
  <tr>
    <td>{{ task }}</td>
    <td>{{ subtask }}</td>
    <td>{{ avg }}</td>
    <td>{{ min }}</td>
    <td>{{ max }}</td>
  </tr>
  {% endfor %}
</tbody>

{% endblock %}
