{% load static %}
{% load staticfiles%}
<html>
    <head>
        <title>Καταγραφή χρόνου</title>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{% static 'javascript/all_clients.js' %}"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/all_clients.css' %}">
        <link rel="icon" href="{% static 'graphics/ROMVOS.png' %}">

    </head>
    <body>
        <div class="page-header">
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-20">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
