{% extends "anton.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block content %}


<thead>
  <tr class="filters">
    <th><input type="text" class="form-control" placeholder="Υπάλληλος" disabled></th>
    <th><input type="text" class="form-control" placeholder="Ημερομηνία Καταχώρησης" disabled></th>
    <th><input type="text" class="form-control" placeholder="Χρόνος Καταχώρησης" disabled></th>

  </tr>
</thead>
<tbody>
  {% for name, time_spent, date_added in df %}
  <tr>
    <td>{{ name }}</td>
    <td>{{ time_spent }}</td>
    <td>{{ date_added }}</td>
  </tr>
  {% endfor %}
</tbody>

{% endblock %}
