{% load staticfiles %}
<head>
  <title>Καταγραφή χρόνου</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/manage_records.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="{% static 'graphics/ROMVOS.png' %}">
</head>
  <form action='/accounts/logout' method='GET'>
    <button class="btn btn-lg btn-primary" id="btn" type="submit">Αποσύνδεση</button>
  </form>


  <h2>Είσαι συνδεμένος ώς: <span id="usersname">{{ user.username }}</span></h2>

  <form method="POST" id="former">

      {% csrf_token %}
      {{ form.as_table }}
      <input class="btn btn-sm btn-success" type="submit" id='btn2' value="Καταγραφή">
      <script type="text/javascript">
          var div = document.getElementsByTagName('label');
          for (var node of div){
              if(node.textContent == 'Name:')
                  node.textContent = 'Επωνυμία:';
              else if (node.textContent == 'Subtask:') {
                  node.textContent = 'Κατηγορία:';
              }
              else if (node.textContent == 'Time spent:') {
                  node.textContent = 'Χρόνος:';
              }
          }

      </script>
  </form>
  {% block footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'javascript/manage_records.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  {{ form.media }}
  {% endblock %}
