{% load staticfiles %}
<head>
  <title>Καταγραφή χρόνου</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/manage_records.css' %}">
</head>
<button class="btn btn-lg btn-primary btn-block" type="submit">Αποσύνδεση</button>
<span><h1>Είσαι συνδεμένος ώς:</h1><h2>{{ user.username }}<h2></span>
    {{ detalleformset.media }}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
        {{ formset.dec_name }}
        {% for form in formset %}
        {{ form }}
        {% endfor %}
    </table>
</form>

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}


<script src="{% static 'javascript/manage_records.js' %}"></script>
<script src="{% static 'javascript/bootstrap.js' %}"></script>
<script src="{% static 'javascript/jquery.js' %}"></script>
<script src="{% static 'javascript/popper.min.js' %}"></script>
<script src="{% static 'javascript/Chart.bundle.js' %}"></script>
